@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: "Roboto", sans-serif;
  @apply bg-background text-text-background;
}

:root {
  --color-background: var(--background);
}

@theme {
  --color-primary: #646cff;
  --color-primary-foreground: #ffffff;
  --color-secondary: #535bf2;
  --color-secondary-foreground: #ffffff;
  --color-destructive: #ff6b6b;
  --color-accent: #1a1a1a;
  --color-accent-foreground: #ffffff;
  --color-background: #f5f5f5;
  --color-text-background: #000000;
}

.dark {
  --color-background: #121212;
  --color-primary: #d0d0ff;
  --color-primary-foreground: #000000;
  --color-secondary: #b3b3ff;
  --color-secondary-foreground: #0e0d0d;
  --color-destructive: #ff8b8b;
  --color-accent: #f0f0f0;
  --color-accent-foreground: #000000;
  --color-text-background: #ffffff;
}